appdirs
cycler
decorator
ipdb
ipython
ipython-genutils
matplotlib
numpy
olefile
packaging
pexpect
pickleshare
Pillow
prompt-toolkit
protobuf
ptyprocess
Pygments
pyparsing
python-dateutil
pytz
scipy
simplegeneric
six
#tensorflow
tensorflow-gpu
traitlets
wcwidth
